/* ESTRUTURA DO SITE */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

#container {
    width: 100%;
    
    color: rgba(128, 128, 128, 0.692);
}

/* CABEÇALHO */
nav {
    background-color: rgba(0, 0, 0, 0.849);
    height: 50px;
    border-bottom: 8px outset black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
    text-transform: uppercase;
    margin: 15px;
    margin: 10px 15px;
}

ul li a {
    text-decoration: none;
    width: 100px;
    color: antiquewhite;
    margin: 5px;
}

li a:hover {
    color: aliceblue;
}

.right {
    margin-left: 300px;
}

.frase1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightgrey;
    color: rgba(0, 0, 0, 0.76);
    border-top: 5px outset whitesmoke;
    border-bottom: 5px solid whitesmoke;
}

.conteudo > p {
    padding-left: 22px;
}

.boas-vindas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: url(../imagens/galaxy2.png) no-repeat;
    background-size: 100% 500px;
    border-bottom: 5px solid black;
    color: whitesmoke;
}

.boas-vindas > h1 {
    font-size: 3em;
}

.conteudo1 {
    font-size: xx-large;
    text-shadow: 2px 2px 2px black;
}

/* PRINCIPAL */

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 500px;
    background-color: rgb(23, 23, 39);
}

.icons {
    margin: 30px;
}

i {
    color: rgba(245, 245, 245, 0.747);
    font-size: 18px;
    margin: 0 23px;
    border: 1px solid rgba(245, 245, 245, 0.747);
    padding: 18px;
    border-radius: 36px;
    cursor: pointer;
}

i:hover {
    background-color: rgba(245, 245, 245, 0.747);
}

/* FORMS */

.box-info {
    display: flex;
    justify-content: right;
    background: url(../imagens/pic3.jpg) top left no-repeat;
    background-size: 650px 400px;
    width: 1000px;
    height: 400px;
    border: 10px solid black;
}

.content-1 {
    border-bottom: 3px outset rgb(0, 106, 212);
}

.content-1 > p {
    padding: 20px;
    font-size: large;
}

.form {
    background-color: rgba(81, 146, 211, 0.596);
    width: 350px;
    height: 100%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: white;
}

label {
    display: block;
    margin: 50px 20px;
}

input {
    background-color: rgba(0, 106, 212, 0.699);
    color: white;
}

.title-form, input {
    margin: 20px 0 0 0;
}

#email {
    width: 75%;
    height: 25px;
}

#data {
    width: 200px;
    height: 25px;
}


/* RODAPÉ */

footer {
    clear: both;
}